<!DOCTYPE html>
<html>
<head>
    <title>Dinder</title>
    <style>
        .jumbotron {
            min-height: 600px;

            object-fit: cover;
            background-image: url("img/bg.jpg");
            box-shadow: 0 8px 16px -6px black;

            /*background-color:#cc33ff !important;*/

        }

        .nav-scroller a{
            font-size: 1.5em;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/chat.css">
    <script src="js/chat.js"></script>

</head>
<body>

<div class="container" id="app">

    <!--header-->
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="text-muted" href="#">Subscribe</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="#" v-on:click="toWelcomeTab">Dinder</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <!--<a class="text-muted" href="#">-->
                <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"-->
                <!--stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"-->
                <!--class="mx-3">-->
                <!--<circle cx="10.5" cy="10.5" r="7.5"></circle>-->
                <!--<line x1="21" y1="21" x2="15.8" y2="15.8"></line>-->
                <!--</svg>-->
                <!--</a>-->
                <!--<a v-if = "!tab2" class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>-->
            </div>
        </div>
    </header>

    <!--navbar-->
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-3"></a>
            <a class="p-2 text-muted" href="#" v-on:click="toProfileTab" id="ProfileNav">Profile</a>
            <a class="p-2 text-muted" href="#" v-on:click="toSwipeTab" id="swipeNav">Swipe</a>
            <a class="p-2 text-muted" href="#" v-on:click="toChatTab" id="chatNav">Chat</a>
            <a class="p-3"></a>
        </nav>
    </div>

    <hr>


    <!--main content-->
    <div>
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">

            <!--profile tab-->
            <div id="profileTab" v-if="profileTab">

                <form class="needs-validation" novalidate id="profile_view" v-if="!edit">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="username">Username</label>
                            <input type="text" class="form-control-plaintext" id="username" readonly
                                   v-model="username">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="gender">Gender</label>
                            <input type="text" class="form-control-plaintext" id="gender" readonly
                                   v-model="gender" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="age">Age</label>
                            <input type="text" class="form-control-plaintext" id="age" v-model="age" readonly
                                   required>

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="city">City</label>
                            <input type="text" class="form-control-plaintext" id="city" v-model="city" readonly
                                   required>

                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-8 mb-3">
                            <label for="des">Description</label>
                            <textarea class="form-control-plaintext" id="des" name="des" rows="3"
                                      v-model="myDescription" readonly></textarea>
                        </div>

                    </div>
                    <button type="button" class="btn btn-primary" v-on:click="toEditProfile">Edit</button>
                </form>

                <form class="needs-validation" novalidate id="profile_edit" v-if="edit">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="usernameE">Username</label>
                            <input type="text" class="form-control-plaintext" id="usernameE"
                                   v-model="username">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="genderE">Gender</label>
                            <input type="text" class="form-control-plaintext" id="genderE"
                                   v-model="gender" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="ageE">Age</label>
                            <input type="text" class="form-control-plaintext" id="ageE" v-model="age"
                                   required>

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="cityE">City</label>
                            <input type="text" class="form-control-plaintext" id="cityE" v-model="city"
                                   required>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="age_min">age_preference_min</label>
                            <input type="text" class="form-control-plaintext" id="age_min" value="20"
                                   required>

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="age_max">age_preference_max</label>
                            <input type="text" class="form-control-plaintext" id="age_max" value="25"
                                   required>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-8 mb-3">
                            <label for="desE">Description</label>
                            <textarea class="form-control-plaintext" id="desE" name="desE" rows="3"
                                      v-model="myDescription"></textarea>

                        </div>

                    </div>
                    <button class="btn btn-primary" type="submit">Submit form</button>
                    <button type="button" class="btn btn-info" v-on:click="toViewProfile">Back</button>
                </form>


            </div>

            <!--swipe tab-->
            <div id="swipeTab" v-if="swipeTab">
                <div class="row">
                    <div class="col-md-3 text-center d-flex align-items-center justify-content-center">
                        <button class="btn btn-danger">Nope</button>
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center" style="min-height: 500px;">
                        <div class="card p-3 bg-success" style="max-width: 18rem;">
                            <blockquote class="blockquote mb-0 card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                                    ante.</p>
                                <hr>
                                <footer class="blockquote-footer">
                                    <small class="text-muted">
                                        Someone famous in <cite title="Source Title">Source Title</cite>
                                    </small>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-md-3 text-center d-flex align-items-center justify-content-center">
                        <button class="btn btn-info">Like</button>
                    </div>
                </div>
            </div>

            <!--chat tab-->
            <div id="chatTab" v-if="chatTab">
                <div class="container-fluid h-100">
                    <div class="row justify-content-center h-100">

                        <!-- contact window -->
                        <div class="col-md-4 col-xl-3 chat">
                            <div class="card mb-sm-3 mb-md-0 contacts_card">
                                <div class="card-header">
                                    <div class="input-group">
                                        <input type="text" placeholder="Search..." name="" class="form-control search">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text search_btn"><i
                                                    class="fas fa-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body contacts_body">
                                    <ui class="contacts">
                                        <li class="active">
                                            <div class="d-flex bd-highlight">
                                                <div class="img_cont">
                                                    <img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg"
                                                         class="rounded-circle user_img">
                                                    <span class="online_icon"></span>
                                                </div>
                                                <div class="user_info">
                                                    <span>Maryam Naz</span>
                                                    <p>Maryam is online</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex bd-highlight">
                                                <div class="img_cont">
                                                    <img src="https://2.bp.blogspot.com/-8ytYF7cfPkQ/WkPe1-rtrcI/AAAAAAAAGqU/FGfTDVgkcIwmOTtjLka51vineFBExJuSACLcBGAs/s320/31.jpg"
                                                         class="rounded-circle user_img">
                                                    <span class="online_icon offline"></span>
                                                </div>
                                                <div class="user_info">
                                                    <span>Sahar Darya</span>
                                                    <p>Sahar left 7 mins ago</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex bd-highlight">
                                                <div class="img_cont">
                                                    <img src="https://i.pinimg.com/originals/54/6e/6d/546e6d4c6ce4322e6aa3b2f8ca73ac28.jpg"
                                                         class="rounded-circle user_img">
                                                    <span class="online_icon"></span>
                                                </div>
                                                <div class="user_info">
                                                    <span>Yolduz Rafi</span>
                                                    <p>Yolduz is online</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex bd-highlight">
                                                <div class="img_cont">
                                                    <img src="http://profilepicturesdp.com/wp-content/uploads/2018/07/sweet-girl-profile-pictures-9.jpg"
                                                         class="rounded-circle user_img">
                                                    <span class="online_icon offline"></span>
                                                </div>
                                                <div class="user_info">
                                                    <span>Nargis Hawa</span>
                                                    <p>Nargis left 30 mins ago</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex bd-highlight">
                                                <div class="img_cont">
                                                    <img src="https://www.freshmorningquotes.com/wp-content/uploads/2015/11/cute-and-beautifull-girls-profile-pictures.jpg"
                                                         class="rounded-circle user_img">
                                                    <span class="online_icon offline"></span>
                                                </div>
                                                <div class="user_info">
                                                    <span>Khadija Mehr</span>
                                                    <p>Khadija left 50 mins ago</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ui>
                                </div>
                                <div class="card-footer"></div>
                            </div>
                        </div>

                        <!-- chat window -->
                        <div class="col-md-8 col-xl-6 chat">
                            <div class="card">
                                <div class="card-header msg_head">
                                    <div class="d-flex bd-highlight">
                                        <div class="img_cont">
                                            <img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg"
                                                 class="rounded-circle user_img">
                                            <span class="online_icon"></span>
                                        </div>
                                        <div class="user_info">
                                            <span>Chat with Maryam Naz</span>
                                            <p>1767 Messages</p>
                                        </div>
                                        <div class="video_cam">
                                            <span><i class="fas fa-video"></i></span>
                                            <span><i class="fas fa-phone"></i></span>
                                        </div>
                                    </div>
                                    <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                                    <div class="action_menu">
                                        <ul>
                                            <li><i class="fas fa-user-circle"></i> View profile</li>
                                            <li><i class="fas fa-users"></i> Add to close friends</li>
                                            <li><i class="fas fa-plus"></i> Add to group</li>
                                            <li><i class="fas fa-ban"></i> Block</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body msg_card_body">
                                    <div class="d-flex justify-content-start mb-4">
                                        <div class="img_cont_msg">
                                            <img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg"
                                                 class="rounded-circle user_img_msg">
                                        </div>
                                        <div class="msg_cotainer">
                                            Hi, how are you samim?
                                            <span class="msg_time">8:40 AM, Today</span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end mb-4">
                                        <div class="msg_cotainer_send">
                                            Hi Maryam i am good tnx how about you?
                                            <span class="msg_time_send">8:55 AM, Today</span>
                                        </div>
                                        <div class="img_cont_msg">
                                            <img src="img/myAvatar.jpg" class="rounded-circle user_img_msg">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start mb-4">
                                        <div class="img_cont_msg">
                                            <img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg"
                                                 class="rounded-circle user_img_msg">
                                        </div>
                                        <div class="msg_cotainer">
                                            I am good too, thank you for your chat template
                                            <span class="msg_time">9:00 AM, Today</span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end mb-4">
                                        <div class="msg_cotainer_send">
                                            You welcome Maryam
                                            <span class="msg_time_send">9:05 AM, Today</span>
                                        </div>
                                        <div class="img_cont_msg">
                                            <img src="img/myAvatar.jpg" class="rounded-circle user_img_msg">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start mb-4">
                                        <div class="img_cont_msg">
                                            <img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg"
                                                 class="rounded-circle user_img_msg">
                                        </div>
                                        <div class="msg_cotainer">
                                            I am looking for your next templates
                                            <span class="msg_time">9:07 AM, Today</span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end mb-4">
                                        <div class="msg_cotainer_send">
                                            Ok, thank you have a good day
                                            <span class="msg_time_send">9:10 AM, Today</span>
                                        </div>
                                        <div class="img_cont_msg">
                                            <img src="img/myAvatar.jpg" class="rounded-circle user_img_msg">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start mb-4">
                                        <div class="img_cont_msg">
                                            <img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg"
                                                 class="rounded-circle user_img_msg">
                                        </div>
                                        <div class="msg_cotainer">
                                            Bye, see you
                                            <span class="msg_time">9:12 AM, Today</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text attach_btn"><i
                                                    class="fas fa-paperclip"></i></span>
                                        </div>
                                        <textarea name="" class="form-control type_msg"
                                                  placeholder="Type your message..."></textarea>
                                        <div class="input-group-append">
                                            <span class="input-group-text send_btn"><i
                                                    class="fas fa-location-arrow"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--welcome tab-->
            <div class="row" id="welcomeTab" v-if="welcomeTab">

                <!--welcome words left side-->
                <div class="col-md-6 px-0">
                    <h1 class="display-4 font-italic">Welcome to Dinder</h1>
                    <p class="lead my-3">Sign up and find your soulmate.</p>
                    <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>

                </div>

                <!--right side components-->
                <div class="col-md-6 px-0">

                    <!--login form-->
                    <form v-if="loginTab">
                        <div class="form-group">
                            <label for="signInUsername">Username</label>
                            <input v-model="username" type="text" class="form-control" id="signInUsername"
                                   placeholder="Enter Username">

                        </div>
                        <div class="form-group">
                            <label for="signInPassword">Password</label>
                            <input type="password" class="form-control" id="signInPassword" v-model="password"
                                   placeholder="Password">
                        </div>

                        <button v-on:click="submitSignInForm" type="button" class="btn btn-primary">Sign in</button>


                        <p v-on:click="toSignUpTab" class="float-right">Don't have an account?</p>

                    </form>


                    <!--register form-->
                    <form v-if="!loginTab">

                        <div class="form-group">
                            <label for="signUpUsername">Username</label>
                            <input type="text" class="form-control" id="signUpUsername" v-model="signUpUsername"
                                   placeholder="Enter Username">
                        </div>
                        <div class="form-group">
                            <label for="SignUpPassword">Password</label>
                            <input type="password" class="form-control" id="SignUpPassword" v-model="signUpPassword"
                                   placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="SignUpPassword2">Password</label>
                            <input type="password" class="form-control" id="SignUpPassword2"
                                   v-model="signUpPassword2"
                                   placeholder="Repeat Your Password">
                        </div>

                        <button v-on:click="submitSignUpForm" type="button" class="btn btn-primary">Sign up now
                        </button>


                        <p v-on:click="toSignInTab" class="float-right">Already have an account...</p>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="js/config.js"></script>
<script>
    var app;

    app = new Vue({
        el: '#app',
        data: {
            welcomeTab: true,
            profileTab: false,
            swipeTab: false,
            chatTab: false,
            loginTab: true,
            edit: false,
            username: '',
            password:'',
            signUpUsername: '',
            signUpPassword: '',
            signUpPassword2: '',
            gender: 'male',
            age: '18',
            city: 'Almaty',
            myDescription: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. '
        },
        methods: {
            toSignUpTab: function () {
                this.loginTab = !this.loginTab;
            },

            toSignInTab: function () {
                this.loginTab = !this.loginTab;
            },

            toWelcomeTab: function () {
                this.welcomeTab = true;
                this.profileTab = false;
                this.swipeTab = false;
                this.chatTab = false;
            },

            toProfileTab: function () {
                this.welcomeTab = false;
                this.profileTab = true;
                this.swipeTab = false;
                this.chatTab = false;
            },

            toSwipeTab: function () {
                this.welcomeTab = false;
                this.profileTab = false;
                this.swipeTab = true;
                this.chatTab = false;
            },

            toChatTab: function () {
                this.welcomeTab = false;
                this.profileTab = false;
                this.swipeTab = false;
                this.chatTab = true;
            },

            toEditProfile: function () {
                this.edit = true;
            },

            toViewProfile: function () {
                this.edit = false;
            },


            submitSignUpForm: function () {
                submitSignUpForm(this.signUpUsername, this.signUpPassword, this.signUpPassword2);
            },

            submitSignInForm: function () {
                submitSignInForm(this.username, this.password);
            }
        }
    });

    var submitSignUpForm = function (username, password, password2) {
        $.ajax({
            method: "POST",
            url: api + "/registration/submit",
            data: {
                username: app.signUpUsername,
                password: app.signUpPassword,
                passwordVerification: app.signUpPassword2
            }
            // xhrFields: {
            //     withCredentials: true
            // },
            // crossDomain: true
        })
            .done(function (msg) {
                if (msg.status == 'ok') {
                    alert('ok');
                } else if (msg.status == 'error') {
                    alert('errors: ' + msg.content);
                }
            });
    }

    var submitSignInForm = function (username, password) {
        console.log(username)
        console.log(password)
        $.ajax({
            method: "POST",
            url: api + "/login",
            data: {
                username: app.username,
                password: app.password
            },
            xhrFields: {
                withCredentials: true
            },
            // crossDomain: true
        })
            .done(function (msg) {

                app.age = 52;

            });
    }
</script>
</body>
</html>
