<!DOCTYPE html>
<html>
<head>
    <title>Dinder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <style>
        .jumbotron {
            min-height: 600px;
        }
    </style>

</head>
<body>

<div class="container" id="app">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="text-muted" href="#">Subscribe</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="#">Dinder</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <!--<a class="text-muted" href="#">-->
                    <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"-->
                         <!--stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"-->
                         <!--class="mx-3">-->
                        <!--<circle cx="10.5" cy="10.5" r="7.5"></circle>-->
                        <!--<line x1="21" y1="21" x2="15.8" y2="15.8"></line>-->
                    <!--</svg>-->
                <!--</a>-->
                <!--<a v-if = "!tab2" class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>-->
                <a v-if = "tab2" v-on:click="logOut" class="btn btn-sm btn-outline-secondary" href="#">Log out</a>
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-3"></a>
            <a class="p-2 text-muted" href="#">Profile</a>
            <a class="p-2 text-muted" href="#">Swipe</a>
            <a class="p-2 text-muted" href="#">Chat</a>
            <a class="p-3"></a>
        </nav>
    </div>

    <div>
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
            <div v-if = "tab2">
               <h1> Hello,{{username}}!</h1>
            </div>
            <div class="row" v-if = "tab1">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
                    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                        efficiently about what's most interesting in this post's contents.</p>
                    <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>

                </div>
                <div class="col-md-6 px-0">
                    <form v-if="seen">
                        <div class="form-group">
                            <label for="signInUsername">Username</label>
                            <input v-model="username" type="text" class="form-control" id="signInUsername"
                                   placeholder="Enter Username">

                        </div>
                        <div class="form-group">
                            <label for="signInPassword">Password</label>
                            <input type="password" class="form-control" id="signInPassword"
                                   placeholder="Password">
                        </div>

                        <button v-on:click="signIn" type="submit" class="btn btn-primary">Sign in</button>


                        <p v-on:click="signUp" class="float-right">sign up...</p>

                    </form>

                    <form v-if="!seen">

                        <div class="form-group">
                            <label for="signUpUsername">Username</label>
                            <input type="text" class="form-control" id="signUpUsername"
                                   placeholder="Enter Username">
                        </div>
                        <div class="form-group">
                            <label for="SignUpPassword">Password</label>
                            <input type="password" class="form-control" id="SignUpPassword"
                                   placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="SignUpPassword2">Password</label>
                            <input type="password" class="form-control" id="SignUpPassword2"
                                   placeholder="Repeat Your Password">
                        </div>

                        <button type="submit" class="btn btn-primary">Sign up now</button>


                        <p v-on:click="signUp" class="float-right">Already have an account...</p>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            tab1: true,
            tab2: false,
            seen: true,
            username:''
        },
        methods: {
            signUp: function () {
                this.seen = !this.seen
            },

            signIn: function () {
                this.tab1 = false;
                this.tab2 = true;

            },
            logOut: function () {
                this.tab1 = true;
                this.tab2 = false;

            }
        }
    })
</script>
</body>
</html>